@charset "utf-8";
.select{
	color:#55555;
	border:1px solid #aaaaaa;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	-webkit-appearance:button;
	-webkit-border-radius:2px;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.1);
	-webkit-padding-end:20px;
	-webkit-padding-start:2px;
	-webkit-user-select:none;
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="),-webkit-linear-gradient(#fafafa,#f4f4f4 40%,#e5e5e5);
	background-position:center right;
	background-repeat:no-repeat;
}
.select:focus{
	outline-color:rgba(0,128,256,0.5);
}
.select:disabled{
	color:graytext;
}
.select:enabled:hover{
	color:#333;
	cursor:pointer;
	-webkit-box-shadow:0px 1px 3px rgba(0,0,0,0.2);
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="),-webkit-linear-gradient(#fefefe,#f8f8f8 40%,#e9e9e9);
}
.select:enabled:active{
	color:#444;
	-webkit-box-shadow:inset 0px 1px 3px rgba(0,0,0,0.2);
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAICAYAAAAbQcSUAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9sCDwEnBT3jKacAAABaSURBVCjPY2CgA4gC4jQ8OIpokxKBgJmZ+RuQ+R8dg8RB8kQb9v//f4UFCxYsZGNj+4lsEIgPEgfJk+RPdAPJNgjdQD4+vi8UGYRs4Nu3b5soNgjJQFZi1AEAhHNE/wdnPVcAAAAASUVORK5CYII="),-webkit-linear-gradient(#f4f4f4,#efefef 40%,#dcdcdc);
}