<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuzheng.ssm.mapper.UserMapper">
	<cache type="PERPETUAL" eviction="LRU" flushInterval="60000" size="1024" readOnly="true" />
		
	<resultMap id="BaseResultMap" type="com.shuzheng.ssm.model.User">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="nickname" column="nickname" />
		<result property="sex" column="sex" />
		<result property="ctime" column="ctime" />
		<result property="email" column="email" />
	</resultMap>
	
	<sql id="userColumns"> id,username,password,nickname,sex,ctime,email </sql>
	
	<select id="geUserById" resultType="com.shuzheng.ssm.model.User" resultMap="BaseResultMap">
		select <include refid="userColumns" /> from user where id = #{id}
	</select>


	<!-- findAll -->
	<select id="findAll" resultMap="BaseResultMap">
		select <include refid="userColumns" /> from user
	</select>
</mapper>
